{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_2.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_3.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_4.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_5.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_6.jpg" %}
{% include clickableImage.html path="assets/images/gallery/joystick" name="joystick_7.jpg" %}

{% include clickableImage.html path="assets/images/gallery/proxxon_cnc" name="proxxon_cnc_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/proxxon_cnc" name="proxxon_cnc_2.jpg" %}
{% include clickableImage.html path="assets/images/gallery/proxxon_cnc" name="proxxon_cnc_3.jpg" %}
{% include clickableImage.html path="assets/images/gallery/proxxon_cnc" name="proxxon_cnc_4.jpg" %}
{% include clickableImage.html path="assets/images/gallery/proxxon_cnc" name="proxxon_cnc_5.jpg" %}

{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_2.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_3.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_4.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_5.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_6.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_7.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_8.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_9.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_10.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_11.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_12.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_13.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_14.jpg" %}
{% include clickableImage.html path="assets/images/gallery/makerbot" name="makerbot_15.jpg" %}

{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_2.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_3.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_4.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_5.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_6.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_7.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_8.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_9.jpg" %}
{% include clickableImage.html path="assets/images/gallery/3d_printed_stuff" name="3d_printed_stuff_10.jpg" %}

{% include clickableImage.html path="assets/images/gallery/monitor_wallmount" name="monitor_wallmount_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/monitor_wallmount" name="monitor_wallmount_2.jpg" %}
{% include clickableImage.html path="assets/images/gallery/monitor_wallmount" name="monitor_wallmount_3.jpg" %}

{% include clickableImage.html path="assets/images/gallery/pcmm" name="pcmm_1.jpg" %}
{% include clickableImage.html path="assets/images/gallery/pcmm" name="pcmm_2.jpg" %}